*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem; 
}
.bg-black{
    background-color: black;
}
.container{
    /* padding: 0; */
}
/* -------------------------------------- */
/* .navbar-toggler{
    padding: .5rem .75rem;
    border: 0.5px;
} */
.navbar-toggler {
    padding: .5rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0.5px solid transparent;
    border-radius: .25rem;
}
#navFirst{
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
}
#navFirst.scrolling{
    background-color: white;
    height: 5rem;
}
.scrolling .logo a{
    color: black !important;
}
.mainNav{
    padding: 3.2rem 2.4rem;
}
.navbar-light.navbar-nav.nav-link{
  color:  rgba(0, 0, 0, 0.72);
}
.logo a{
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5)!important;
    letter-spacing: 0.1rem;
    font-size: 2rem;
}
.link__nav a{
    font-weight: 600;
    color: rgba(255, 255, 255, 0.4)!important;
    letter-spacing: 0.1rem;
    text-decoration: none;
}
.firstMenu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: block;
    background-color: white;
   
}

.Pic{
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url(../img/bg-masthead.jpg);
}
.Pic h1{
    font-family: "Varela Round", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 10rem;
    line-height: 10rem;
    letter-spacing: 1rem;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.Pic h2{
    font-size: 1.25rem;
    max-width: 30rem;
    padding-bottom: 3rem;
    letter-spacing: 0.1rem;
    line-height: 1.6rem;
}
.btn{
    font-size: 80%;
    padding: 1.25rem 2rem;
    letter-spacing: 0.2rem;
}
.buttonOne{
    background-color: #64a19d;
    border: #64a19d;
}
.nav-menu{
    width: 3rem !important;
    height: 3rem !important;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content:flex-end; */
    overflow: hidden;
}
.nav-menu span{
    display: block;
    margin-bottom: 0.3rem;
    background: #87878794;
    height: 0.5rem;
    transition: 0.5s;
    /* border-radius: 50%; */
}
.active-menu span:nth-child(1){
    width: 100% !important;
    

}

.active-menu span:nth-child(2){
    width: 75% !important;
    margin-left: 0 !important;
}
.active-menu span:nth-child(3){
    width:50% !important;
    margin-left: 0 !important;
}
.active-menu span:nth-child(4){
    width: 25% !important;
    margin-left: 0 !important;

}


/* hover */
.nav-menu span:nth-child(1){
    width: 100%;
    

}

.nav-menu span:nth-child(2){
    width: 100% ;
    margin-left: 1rem;

}
.nav-menu span:nth-child(3){
    width:100% ;
    margin-left: 1.5rem;
}
.nav-menu span:nth-child(4){
    width: 100%;
    margin-left: 2rem;
}
/* hover */

/* ============================================ */
/* .form-block{
    padding: 5rem 10rem;
    background-color:rgba(185, 184, 184, 0.116);
}
.form-control{
    font-size: 1.6rem;
}
label{
    font-size: 2rem;
}
.form-check-input{
    margin-top: 0.8rem;
} */
.content-contact{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.title-contact{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.title-contact a{
    font-size: 5rem;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    color: #00000054;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    overflow: hidden;
    transition: 0.2s;
}
.title-contact a:hover{
    color: black;
    background: white;
    /* box-shadow: 0 0 10px #00000054, 0 0 40px #00000054, 0 0 80px #00000054; */
    transition-delay: 0.2s;
}
.title-contact a span{
    position: absolute;
    display: block;
}
.title-contact a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 0.2rem;
    background: linear-gradient(90deg,transparent,black);
}
.title-contact a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
.title-contact a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 0.2rem;
    background: linear-gradient(270deg,transparent,black);
}
.title-contact a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.title-contact a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 0.2rem;
    height: 100%;
    background: linear-gradient(180deg,transparent,black);
}
.title-contact a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.title-contact a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background: linear-gradient(360deg,transparent,black);
}
.title-contact a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.title-contact-content{
    width: 100%;
    height: 50%;
}
.title-contact-content p{
    font-size: 3rem;
    letter-spacing: 0.4rem;
    color: #00000054;
}
textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}
.btn-start-order {
	background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #5e9bfc;
	color: #5e9bfc;
}
/* ============================================ */
.about__section{
    border-top: 1px solid rgba(0, 0, 0, 0.01) !important;
    padding-top: 10rem;
    background: linear-gradient(to bottom, #000000, #101010, #1a1a1a, #232323, #2d2d2d);
}
.about__section p{
    margin-bottom: 8rem;
    color: rgba(255, 255, 255, 0.377);
}
.content__first{
    position: relative;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}
.content__first h2{
    font-size: 3.6rem;
}
.content__first p{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
/* =========================================== */
.content__section{
    padding-top: 0rem;
    padding-bottom: 10rem;
}
.img{
    display: flex;
    flex-wrap: wrap;
 
}
.content__section p{
    letter-spacing: 0.1rem;
}
.content__section h4{
    font-size: 3.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.caihinhdep{
    border-left: 0.5rem solid #64a19d;
}
.text__content{
    background: black;
}
.container{
    /* padding: 0; */
}
.after hr{
    border-bottom: 0.25rem solid #64a19d;
    width: 30%;
}
.sign__up{
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%), url(../img/bg-signup.jpg);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
.fa-2x{
    font-size: 2rem;
}
.svg-inline--fa.fa-w-16 {
   width: 1rem;

}
/* .icon-block a{
    width: 100% !important;
    height: 100%;
    display: block;
    padding: 0.5rem;
    margin: 0 !important;
} */
.form-inline input{
    padding: 1.5rem 2rem;
    height: auto;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}
.form-inline button{
    padding: 1.5rem 2.5rem;
    text-transform: uppercase;
    
}
.product__ag{
    padding: 0;
}
.contact-section{
    background-color: black;
    padding-top: 5rem;
}
.card{
    border: 0;
    border-bottom: 0.25rem solid #64a19d;
}
.card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    line-height: 4rem;
}
.svg-inline--fa.fa-w-18 {
    width: 2.6rem;
}
.svg-inline--fa.fa-w-16 {
    width: 2.6rem;
}
.svg-inline--fa.fa-w-10 {
    width: 2.6rem ;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.5rem;
}
.card h4{
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
}
.card hr{
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 4rem;
    margin: 0 auto;
}
.small{
    font-size: 80%;
    font-weight: 400;
}
.small a{
    color: #64a19d;
}
.text-primary {
    color: #64a19d !important;
}
.social{
    margin-top: 5rem;
}

.icon-block{
    text-align: center;
    height: 4rem;
    width: 4rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 0.5rem;
}

.icon-block a{
    width: 4rem !important;
    height: 4rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-block:nth-child(1):hover a .icon__contact{
    color: #1da1f2;
}
.icon-block:nth-child(2):hover a .icon__contact{
    color: #4267b2;
}
.icon-block:nth-child(3):hover a .icon__contact{
    color: black;
}
.icon-block:nth-child(1):hover a{
    background-color: white;
    border-radius: 50%;
    border: 0.5px solid #1da1f2;
}
.icon-block:nth-child(2):hover a{
    background-color: white;
    border-radius: 50%;
    border: 0.5px solid #4267b2;
}
.icon-block:nth-child(3):hover a{
    background-color: white;
    border-radius: 50%;
    border: 0.5px solid black;
}
.icon-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__contact{
    width: 4rem !important;
    height: 4rem !important;
    text-align: center ;
    padding: 0.5rem;
    color: gray;
}

.footer{
    background-color: black;
    height: 20rem !important;
}
.finish{
    color: rgba(255, 255, 255, 0.3);
}
.div__footer{
    height: 20rem;
}
.product__ag {
    background-color: black;
}
@media only screen and (max-width: 985px){
    .caihinhdep{
        border-left: 0;
        padding-left: 0 !important;
    }
    .content-reponsive{
        flex-wrap: nowrap !important;
    }
    .img-reponsive{
        margin-bottom: 0 !important;
    }
    #navFirst{
        background-color: white;
        height: 5rem;
    }
    .mainNav{
        padding: 0;
    }
    #navFirst .nav-link{
        padding-left: 3rem;
    }
    .logo a{
        color: black !important;
    }
    .Pic h1{
        font-size: 5rem;
    }
}
@media only screen and (max-width: 600px){
    .Pic h1{
        font-size: 3rem;
    }
    .form-block{
        padding: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .content-reponsive{
        flex-wrap: wrap !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .layout-reponsive{
        padding-left: 0 !important;
    }
    .img{
        padding-right: 0 !important;
    }
    .content__section{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .content__section__reponsive{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .text__reponsive{
        font-size: 3rem;
    }
    .svg-inline--fa.fa-w-16 {
        width: 3rem;
    }
    .svg-inline--fa.fa-w-18 {
        width: 3rem;
    }
    .svg-inline--fa.fa-w-10 {
        width: 3rem;
    }
    .navbar-toggler{
        padding: 0.5rem 1rem;
    }
    .menupro{
       margin: 1.6rem;
       margin-right: 3.5rem;
    }
    .title-contact a {
        margin-top: 10rem;
    }
    #navFirst{
        background-color: white;
        height: 6rem;
    }
    .mainNav{
        padding: 0;
    }
    .menupro{
        margin: 0;
        margin-right: 1.5rem;
    }
}
.menu-btn{
    font-size: 3rem !important ;
}